---
import Paragraph from "../shared/Paragraph.astro";

export interface Props {
    title: string;
    description: string;
    icon: string;
    href: string;
    bg: string;
}

const { title, description, icon, href, bg } = Astro.props;
---
<a href={href} target="_blank">
<div
    class="p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
>
        <div
            class="rounded-xl bg-gray-300 dark:bg-gray-950 p-3 text-heading-1 w-max relative z-10 pointer-events-none"
        >
            <slot set:html={icon} />
        </div>
        <div class="mt-6 space-y-4 relative z-10 pointer-events-none">
            <h2 class="text-lg md:text-xl font-semibold text-heading-2">
                {title}
            </h2>
            <Paragraph>
                {description}
            </Paragraph>
        </div>
        <span
            class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"
        ></span>
        <div class="absolute inset-0 bg-black opacity-0 transition-opacity hover:opacity-50 z-1"></div>
        <div class="absolute inset-0 bg-cover bg-center bg-no-repeat opacity-0 transition-opacity hover:opacity-20 z-2" style={bg}></div>
        <div class="absolute inset-0 z-20 pointer-events-none"></div>
</div>
</a>
